.main-container{
    max-width:650px;
    margin: 0 auto;
}

.profile-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    border-bottom: 1px solid gray; 
}
.profile-details{
    width: 300px;
}
.following{
    display: flex;
    justify-content: space-between;
}
.posts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.post{
    width:30%;
}